---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/kustomize.toolkit.fluxcd.io/kustomization_v1beta1.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./credentials.sops.yaml
  - ./ocirepository.yaml
  - ./helm-release.yaml
  - ./networkpolicy.yaml
commonLabels:
  app.kubernetes.io/name: pod-gateway
  app.kubernetes.io/instance: vpn-gateway
