---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helm-release.yaml
configMapGenerator:
  - name: flux-operator-values
    files:
      - ./helm/values.yaml
configurations:
  - ./helm/kustomizeconfig.yaml
