---
# Update with: task cluster:update-cached-images
apiVersion: kubefledged.io/v1alpha2
kind: ImageCache
metadata:
  name: system-cache
  namespace: system
  labels:
    app.kubernetes.io/name: kube-fledged
    app.kubernetes.io/instance: kube-fledged
    app.kubernetes.io/part-of: kube-fledged
spec:
  cacheSpec:
    - images:
