---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  NETWORK_K8S_CLUSTER_CIDR: 10.42.0.0/16
  NETWORK_LB_RANGE: 10.0.10.0/24 # 10.0.10.1-10.0.10.20
  NETWORK_LB_RANGE_OLD: 10.0.0.208/26 # 10.0.0.208-10.0.0.223
  TIMEZONE: "America/Los_Angeles"
  GATEWAY_ADDR: 10.0.0.1
  PLEX_ADDR: 10.0.10.13
  LOCAL_DNS_ADDR: 10.0.10.14
  VECTOR_AGGREGATOR_ADDR: 10.0.10.15
  TRAEFIK_ADDR: 10.0.10.20
  UNIFI_ADDR: 10.0.10.213 # there is a dns override for unifi on this IP
