[client]
remote_addr = "__VPS_PUBLIC_IP__:8080"
default_token = "__HANDSHAKE_TOKEN__"

[client.services.web-secure]
token = "__SERVICE_TOKEN__"
local_addr = "traefik-external.networking.svc.cluster.local:443"
