talosconfig
talos-v1-delta.home.yaml
talos-v1-epsilon.home.yaml
talos-v1-zeta.home.yaml
talos-v1-eta.home.yaml
talos-v1-talos-cp-01.home.yaml
talos-v1-worker-01.home.yaml
talos-v1-worker-02.home.yaml
