---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system
resources:
  - app-helm-release.yaml
  - secret.sops.yaml
  # - network-policy.yaml
  - bitwarden-api-helm-release.yaml

configMapGenerator:
  - name: external-secrets-dashboard
    files:
      - external-secrets-dashboard.json=https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
    grafana_folder: "System"
  labels:
    grafana_dashboard: "1"
