---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-middleware-secure-headers
  namespace: networking
spec:
  headers:
    accessControlAllowMethods:
      - GET
      - OPTIONS
      - PUT
      - POST
    accessControlMaxAge: 100
    hostsProxyHeaders:
      - "X-Forwarded-Host"
      - "X-Forwarded-For"
      - "X-Forwarded-Proto"
      - "X-GEO-City"
      - "Cf-Connecting-Ip"
      - "Cf-Ipcountry"
    stsPreload: true
    forceSTSHeader: true
    stsSeconds: 31536000
    stsIncludeSubdomains: true
    referrerPolicy: "same-origin"
    contentSecurityPolicy: "block-all-mixed-content;upgrade-insecure-requests;"
    frameDeny: true
    customFrameOptionsValue: "SAMEORIGIN"
    contentTypeNosniff: true
    browserXssFilter: true
    customResponseHeaders:
      permissionsPolicy: "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
      X-Frame-Options: "SAMEORIGIN"
      X-Robots-Tag: "none,noindex,nofollow,noarchive,nosnippet,notranslate,noimageindex"
      X-Permitted-Cross-Domain-Policies: "none"
      X-Forwarded-Proto: "https"
      X-Powered-By: ""
      server: ""
      City: X-GEO-City
