---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-middleware-secure-headers
  namespace: networking
spec:
  headers:
    accessControlMaxAge: 100
    accessControlAllowOriginListRegex:
      - "https://(.*?)${SECRET_DOMAIN}"
    hostsProxyHeaders:
      - "X-Forwarded-Host"
      - "X-Forwarded-For"
      - "X-Forwarded-Proto"
      - "X-GEO-City"
      - "Cf-Connecting-Ip"
      - "Cf-Ipcountry"
    stsPreload: true
    forceSTSHeader: true
    stsSeconds: 31536000
    stsIncludeSubdomains: true
    contentSecurityPolicy: "block-all-mixed-content;upgrade-insecure-requests;"
    frameDeny: true
    customFrameOptionsValue: "allow-from https:${SECRET_DOMAIN}"
    contentTypeNosniff: true
    browserXssFilter: true
    customResponseHeaders:
      permissionsPolicy: "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
      X-Frame-Options: "SAMEORIGIN"
      X-Robots-Tag: "none,noindex,nofollow,noarchive,nosnippet,notranslate,noimageindex"
      X-Permitted-Cross-Domain-Policies: "none"
      X-Forwarded-Proto: "https"
      City: X-GEO-City
      server: ""
