---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret.sops.yaml
  - cluster.yaml
  - cluster16.yaml
  # https://github.com/auricom/home-ops/tree/main/kubernetes/apps/default/cloudnative-pg/cluster
  # - external-backup
  - scheduledbackup.yaml
  - scheduledbackup16.yaml
  - prometheusrule.yaml
