---
serviceMonitor:
  create: true
web:
  ingress:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      traefik.ingress.kubernetes.io/router.middlewares: "networking-rfc1918-ips@kubernetescrd"
    hosts:
      - host: &host "flux-ui.home.${SECRET_DOMAIN}"
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: "wildcard-internal-${SECRET_DOMAIN/./-}-tls"
        hosts:
          - *host
