---
name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  # Currently no way to detect automatically
  DEFAULT_BRANCH: main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Verify python
        run: |
          python --version
          python3 --version
          which python
          which python3

      - name: Install mise with selected Python
        run: |
          python -m pip install --upgrade pip
          python -m pip install --user mise
          echo "${HOME}/.local/bin" >> $GITHUB_PATH
          
      - name: Run all tests
        run: mise exec -- task test:all
