---
name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  # Currently no way to detect automatically
  DEFAULT_BRANCH: main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup mise
        uses: jdx/mise-action@v3

      - name: Install Python dependencies
        run: mise exec -- pip install -r requirements.txt

      - name: Run all tests
        run: mise exec -- task test:all
